apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: argocdproject
  namespace: {{ namespace }}
spec:
  destinations:
  - namespace: default
    server: https://kubernetes.default.svc
  sourceRepos:
  - '*'
--- 

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocdapplication
  namespace: {{ namespace }}
spec:
  project: argocdproject
  source:
    repoURL: {{ git_repo_url }}
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      allowEmpty: true


---

apiVersion: v1
kind: Secret
metadata:
  name: private-repo
  namespace: {{ namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
data:
  type: {{ type }}
  url: {{ repo_url }}
  sshPrivateKey: |
      {{ privatekey }}